@tailwind base;
@tailwind components;
@tailwind utilities;


.input-aplogy{
    border: 1px solid #888;
    padding: 10px 20px;
    height: 60px;
    border-radius: 12px;
    box-shadow: inset 1px 1px 10px -6px #555;
    display: block;
    max-width: 500px;
    width: 100%;
    transition:all 0.4s linear;
    outline: none;
}

.input-aplogy:focus{
    outline: none;
}